{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testvideo</title>
</head>
<body>
<div class="container"></div>
<h1>Test</h1>
{#     <video width="500" height="300" color autoplay>#}
{#         <source src= "/srv/www/nginx/kerrini/mainkerrini/static/videos/dcea41e6-92e6-11e5-b57a-58946bb8d51c", type="video/mp4", codecs="avc1.42E01E, mp4a.40.2"/>#}
{#         <source src= "/srv/www/nginx/kerrini/mainkerrini/static/videos/dcea41e6-92e6-11e5-b57a-58946bb8d51c", type="video/ogg"/>#}
{#                 <source src= "{% static "videos/fd61589a-92e8-11e5-beae-58946bb8d51c"%}", type="video/mp4"/>#}
{#                <source src="{% static "videos/fd61589a-92e8-11e5-beae-58946bb8d51c"%}", type="video/ogg"/>#}
{#     </video>#}
<video width="640" height="360" controls>
	<source src="{% static "videos/fd61589a-92e8-11e5-beae-58946bb8d51c"%}"  type="video/mp4" />
	<source src="{% static "videos/fd61589a-92e8-11e5-beae-58946bb8d51c"%}"  type="video/ogg" />
{#	<object width="640" height="360" type="application/x-shockwave-flash" data="__FLASH__.SWF">#}
{#		<param name="movie" value="__FLASH__.SWF" />#}
{#		<param name="flashvars" value="controlbar=over&amp;image=__POSTER__.JPG&amp;file=__VIDEO__.MP4" />#}
{#		<img src="__VIDEO__.JPG" width="640" height="360" alt="__TITLE__"#}
{#		     title="No video playback capabilities, please download the video below" />#}
{#	</object>#}
</video>


{#<script type="application/javascript" src="//content.jwplatform.com/players/eTSDvJg9-Ibu5m16W.js"></script>#}

{#    {% with t=static %}#}
{#<h1>{{ t }}</h1>#}
</div>
</body>
</html>
{#{% endwith %}#}