
    {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<div class="container">
    <h2>This is the skeleton to upload a video. Please consider that it is a base implementation.</h2>
        <h2>Best Regards. Frank@Kerrini Team</h2>
    <form method="POST" enctype="multipart/form-data" action="/upload/">
        {{ form.title.label }} {{ form.title }} <br/>
        {{ form.description.label }}{{ form.description }} <br/>
        {{ form.language.label}} {{ form.language }} <br/><br/>
          {{ form.file.label }} {{ form.file }}<br/>
        {{ form.file.errors }}
         <input type="submit" value="Press"> to upload the file!
{% csrf_token %}
    </form>
    </div>
<br/>

{#<h2>{{ file }}</h2>#}
</body>
</html>